.option {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: all 0.1s ease-out;
	max-width: fit-content;

	.icon {
		width: 25px;
		height: 25px;
	}

	h2 {
		font-weight: 800;
		font-size: 20px;
		margin-right: 20px;
		opacity: 1;
		transition: opacity 0.1s ease;
		@media (max-width: 768px) {
			opacity: 0;
		}
	}

	&:hover,
	&.active {
		background-color: #e8f5fe;
		border-radius: 30px;
		color: #50b7f5;
	}
	&.active {
		background-color: inherit;
	}
}
