.option {
	padding: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	transition: color 100ms ease-out;

	.icon {
		width: 30px;
		height: 30px;
	}

	h2 {
		font-weight: 800;
		font-size: 20px;
		margin-right: 20px;
	}

	&:hover,
	&.active {
		background-color: #e8f5fe;
		border-radius: 30px;
		color: #50b7f5;
	}
}
