.tweet {
	border-bottom: 8px solid lightgray;
	padding: 15px 20px;
	display: flex;
	align-items: center;

	.form {
		width: 100%;
		display: flex;
		flex-direction: column;

		.top {
			display: flex;
			align-items: center;

			> input {
				width: 100%;
				font-size: 20px;
				outline: inherit;
				border: inherit;
				padding: 20px;
			}
		}

		.button {
			background-color: #50b7f5;
			color: white;
			min-width: 80px;
			max-width: 80px;
			margin-left: auto;
		}
	}
}
